* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

mark {
  background-color: #0448aa;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

nav {
  height: 65px;
  width: 100%;
  background: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 27px;
}

.nav_items {
  align-items: center;
  gap: 20px;
  display: flex;
  flex-direction: row;
  list-style: none;
  color: white;
}

#contact {
  color: white;
  padding: 10px 24px 10px 24px;
  border-radius: 5px;
  border: 1px solid white;
  background: #000;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 50px;
}

.banner {
  background: black;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;

  .bannerimg1 {
    height: auto;
    overflow: hidden;
    opacity: 60%;
    width: 50wv;
  }
  .bannerimg2 {
    width: 50vw;
    height: auto;
    overflow: hidden;
    opacity: 80%;
  }
}

.content1 {
  top: 20%;
  left: 25%;
  right: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.content1 .heading {
  color: white;
  text-align: center;
  margin-bottom: 8vw;
}
.content1 .heading h1 {
  font-size: 5rem;
  font-weight: 700;
  text-wrap: wrap;
  margin-bottom: 2vw;
}
@media screen and (max-width: 600px) {
  .content1 .heading h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 69px;
    text-wrap: wrap;
  }
}
.content1 .heading p {
  padding-left: 10%;
  padding-right: 10%;
  text-wrap: wrap;
  font-size: 200%;
  font-weight: 400;
}
/* enroll form */
.content1 .enroll {
  background: white;
  border: 1px solid black;
  padding: 20px;
  width: 60vw;
  border-radius: 10px;
  height: auto;
}

.content1 .enroll .input_fields {
  gap: 20px;
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-column-gap: 10px;
}
.content1 .enroll .input_fields input {
  border: 1px solid #575a5e;
  border-radius: 10px;
  padding: 5px 20px 5px 5px;
  height: 50px;
  width: 100%;
}

.content1 .enroll .enrollbtn {
  width: 100%;
  border-radius: 8px;
  background-color: #0448aa;
  color: white;
  height: 55px;
}

/* section2 */
.content2 {
  justify-content: space-around;

  margin-top: 100px;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content2 .component {
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0448aa;
  border: 1px solid #bbb9ba33;
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 90%;
  border-radius: 10px;
  height: 188px;
  background-image: url(./images/Group\ 63.png);
}
.content2 .component h1 {
  font-size: 5em;
  font-weight: 700;
  line-height: 95px;
  color: white;
}
.content2 .component .head {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.content2 .component p {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 46px;
  text-wrap: wrap;
  color: white;
}

.content2 .component .joinbtn {
  width: 147px;
  border-radius: 8px;
  background-color: white;
  color: black;
  height: 47px;
}

/* section3 */
.content3 {
  height: 161px;
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .content3 {
    flex-direction: column;
  }
}

.content3 .heading2 h2 {
  font-size: 4vw;
  width: 80%;
}
.content3 .title {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  gap: 5px;
}
.content3 .box .title p {
  color: white;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 2vw;
  text-wrap: wrap;
}

.content3 .box .title .learnbtn {
  width: 60%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ffffff;
  background: black;
  color: white;
}
.content3 .box {
  border-radius: 20px;
  background: #000000;
  display: flex;
  flex-direction: row;
  padding: 0 19px 0 32px;
  height: 225px;
  width: 661px;
}
.content3 .box .boximage {
  height: auto;
  width: 100%;
  overflow: hidden;
  top: 20px;
}

.slider {
  box-shadow: 0px 4px 12px 0px rgba(180, 195, 217, 0.5);
  border-radius: 20px;
  background: #000000;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 2vw 2vw 4vw 2vw;
  width: 90%;
  height: auto;
}

.slide {
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 2vw;
  width: 100%;
  height: 100%;
}

.slider .slide img {
  width: 30%;
  height: auto;
}
.slider .icon {
  margin-bottom: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1vw 0 1vw 0;
  width: 20%;
  height: auto;
}

.text {
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  align-self: flex-start;
}
.text h2 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 3.5em;
  letter-spacing: -2.5px;
  line-height: 1.333;
  color: #000;
  top: 2292px;
}

.content4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  width: 90vw;
}

.content4 .img {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.content4 .img .img1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 2%;
}

.content4 .img .img2 {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  right: 2%;
}

.content4 .img .img1 .b1 {
  box-shadow: 0px 4px 12px 0px #b4c3d980;
  border-radius: 20px;
  background: #ffffff;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  padding: 13px 41.8px 69px 11px;
  width: fit-content;
  width: 677px;
  height: 261px;
  top: 2446px;
  box-sizing: border-box;
  background-image: url(images/Group\ 46.png);
}

.content4 .img .img2 .b2 {
  box-shadow: 0px 4px 12px 0px #b4c3d980;
  border-radius: 20px;
  background: #0448aa;
  width: 650px;
  height: 261px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px 8.8px 7px 17px;
  box-sizing: border-box;
  background-image: url(images/Group\ 46.png);
}
.content4 .earn {
  margin-top: 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -0.7px;
  color: #000000;
  align-self: flex-start;
  text-wrap: wrap;
}
.group-c {
  border-radius: 23px;
  background: #000000;
  left: 5px;
  bottom: -79px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  padding: 9px 11px;
  width: 46px;
  height: 46px;
}
.group-c .calendar-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 24px;
  height: 28px;
}
.group-c .calendar {
  width: 24px;
  height: 28px;
}
.group-r {
  border-radius: 23px;
  background: #000000;
  position: absolute;
  top: 30px;
  right: 202.7px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 11px 18.7px 12px 18px;
}
.group-r .rupee-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 14px;
  height: 28px;
}
.group-r .rupee {
  width: 24px;
  height: 28px;
}
.text-box1 {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 468.7px;
  box-sizing: border-box;
}
.us {
  position: relative;
  margin: 1px 28.5px 0 0;
  display: inline-block;
  width: 240px;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #000000;
  top: 30px;
  margin-left: -20px;
}
.starting {
  position: relative;
  margin-bottom: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -1px;
  color: #000000;
  top: 30px;
  width: 200px;
  margin-left: 60px;
}
.if {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -0.7px;
  color: #ffffff;
  margin-top: 10px;
}
.group-d {
  border-radius: 23px;
  background: #ffffff;
  position: relative;
  margin: 0 6px 0.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 12px 14.6px 11px 12px;
  box-sizing: border-box;
  align-self: flex-start;
  bottom: -49px;
}
.group-d .dollar-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 24px;
  height: 28px;
}
.group-d .dollar {
  width: 24px;
  height: 28px;
}
.group-u {
  border-radius: 23px;
  background: #ffffff;
  position: relative;
  left: 40px;
  bottom: 0.3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 9.8px 13px 9.8px;
  width: 46px;
  height: 46px;
}
.group-u .us-symbol {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 24px;
  height: 28px;
}
.group-u .usm {
  width: 24px;
  height: 23px;
}
.text-box2 {
  position: relative;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 468.7px;
  box-sizing: border-box;
}
.annual {
  margin: 0 1.5px 2.8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #ffffff;
  margin-left: 40px;
}
.live {
  margin-right: -95px;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.2px;
  color: #ffffff;
  bottom: -6.5px;
  position: relative;
}
/* next section */
.box1 {
  justify-content: space-between;
  box-shadow: 0rem 0.3rem 0.8rem 0rem#B4C3D980;
  border-radius: 1.3rem;
  background: #000000;
  display: flex;
  flex-direction: row;
  width: fit-content;
  width: 90%;
  height: auto;
  gap: 0px;
  border-radius: 20px;
  overflow: hidden;
}

.box1 .mcontent {
  width: 60%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.box1 .mcontent.rectangle-1 {
  background: #0448aa;

  left: 1.3rem;
  top: 2.8rem;
  width: 28.1rem;
  height: 3.6rem;
}
.mcontent .miles-us-pathway {
  position: relative;
  margin: 0 0.3rem 0.7rem 0.3rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 3.5rem;
  letter-spacing: -0.2rem;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.mcontent .rectangle-2 {
  margin-bottom: 1rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  color: #ffffff;
}
.mcontent .rectangle-3 {
  margin: 0 0.1rem 2.3rem 0.1rem;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: -0.1rem;
  color: #ffffff;
}
.mcontent .rectangle-4 {
  border-radius: 0.6rem;
  background: #ffffff;

  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 0.3rem 0 1.2rem 0.9rem;
  width: fit-content;
  box-sizing: border-box;
  .line-4 {
    margin-bottom: 0.3rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: "Helvetica", "Source Sans 3";
    font-weight: 700;
    font-size: 1.9rem;
    letter-spacing: 0rem;
    color: #cb3031;
  }
  .line-5 {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
    .rectangle-5 {
      background: #b41416;
      margin: 0.4rem 0.6rem 0.1rem 0;
      width: 0.1rem;
      height: 1.6rem;
    }
    .rectangle-6 {
      overflow-wrap: break-word;
      font-family: "Helvetica", "Source Sans 3";
      font-weight: 700;
      font-size: 1.8rem;
      letter-spacing: 0rem;
      color: #000000;
      right: 0rem;
      bottom: 0rem;
    }
  }
}

.line-7 {
  border-radius: 0.6rem;
  background: #ffffff;

  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding: 0.3rem 0 2.2rem 0.9rem;
  width: fit-content;
  box-sizing: border-box;
  .rectangle-7 {
    margin-bottom: 1.1rem;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: "Helvetica", "Source Sans 3";
    font-weight: 700;
    font-size: 1.9rem;
    letter-spacing: 0rem;
    color: #0448aa;
  }
}
.line-8 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
  .rectangle-8 {
    background: #b41416;
    margin: 0.4rem 0.6rem 1rem 0;
    width: 0.1rem;
    height: 2.8rem;
  }
  .miles {
    overflow-wrap: break-word;
    font-family: "Helvetica", "Source Sans 3";
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 0rem;
    color: #000000;
  }
}

.box1 .images {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  align-items: end;

  img {
    height: 130%;
    width: 60%;
  }
}

.box1 .images img:nth-child(1) {
  position: relative;
  top: -5%;
  right: 10%;
}

.box1 .images img:nth-child(2) {
  transform: scaleX(-1);
  position: relative;
  bottom: -10%;
  right: 10%;
}

.content5 {
  margin: 0 96.8px 52px 71px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1272.2px;
}
.text2 {
  /* margin-right: 5%; */
  display: flex;
  align-self: flex-start;
  text-align: left;
}
.text2 h2 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 3.5em;
  letter-spacing: -2.5px;
  line-height: 1.333;
  color: #000;
  /* top: 2292px; */
}
.frame {
  margin: 29.7px 0 27.7px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 5.2px;
  height: 8.7px;
  color: #000;
}

.frame .icon1 {
  margin-bottom: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1vw 0 1vw 0;
  width: 10%;
  height: auto;
  position: absolute;
}
/* article section */
.content6 {
  position: relative;
  margin: 0 70px 110px 70px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  width: 1300px;
}
.article1 {
  box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background: url("images/a1.png") 50% / cover no-repeat;
  width: 310px;
  height: 247px;
}
.article2 {
  box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background: url("images/a2.png") 50% / cover no-repeat;
  width: 310px;
  height: 247px;
}
.article3 {
  box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background: url("images/a3.png") 50% / cover no-repeat;
  width: 310px;
  height: 247px;
}
.article4 {
  box-shadow: 0px 4px 12px 5px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  background: url("images/a4.png") 50% / cover no-repeat;
  width: 310px;
  height: 247px;
}
.content7 {
  box-shadow: 0px 4px 12px 0px rgba(180, 195, 217, 0.5);
  border-radius: 20px;
  background: #0448aa;
  background-image: url("images/bbox.png");
  margin: 0 70px 103px 70px;
  height: 547px;
  width: 90%;
}
.content7 .bbox {
  justify-content: space-between;
  padding: 10px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;

  padding: 32px 18px 36px 34px;
}
.content7 .bbox .boxl {
  max-width: 60%;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  img {
    position: relative;
    left: 20%;
  }
  .l1 {
    background: #ffffff;
    margin-bottom: 21px;
    margin-top: 21px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 13px 1px 11px 12px;
    width: 512px;
    .flip {
      overflow-wrap: break-word;
      font-family: "Helvetica", "Source Sans 3";
      font-weight: 700;
      font-style: italic;
      font-size: 38px;
      letter-spacing: -1px;
      color: #0448aa;
    }
  }
  .l2 {
    margin-bottom: 39px;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 300px;
    top: 20px;
    .techies {
      margin: 0 35.8px 16px 0;
      overflow-wrap: break-word;
      font-family: "Helvetica", "Source Sans 3";
      font-weight: 700;
      font-size: 42px;
      letter-spacing: -1.1px;
      color: #ffffff;
    }
    .but {
      overflow-wrap: break-word;
      font-family: "Helvetica", "Source Sans 3";
      font-weight: 400;
      font-size: 22px;
      letter-spacing: -0.3px;
      color: #ffffff;
      right: 16px;
      position: relative;
    }
  }
}

.content7 .bbox .box2 {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  max-height: 100%;
  align-items: flex-end;
  position: relative;
  bottom: 50px;
  right: 30px;
  img {
    position: relative;
    right: 50%;
    top: -20%;
    max-height: 100%;
    max-width: 100%;
  }
}

.content7 .bbox .box2 .l3 {
  display: flex;
  justify-content: right;
  text-align: right;

  flex-direction: column;
  gap: 20px;
  .not {
    overflow-wrap: break-word;
    font-family: "Helvetica", "Source Sans 3";
    font-weight: 700;
    font-size: 42px;
    letter-spacing: -1.2px;
    color: #ffffff;
  }
  .miless {
    overflow-wrap: break-word;
    font-family: "Helvetica", "Source Sans 3";
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -0.4px;
    color: #ffffff;
    text-align: right;
  }
  .using {
    overflow-wrap: break-word;
    font-family: "Helvetica", "Source Sans 3";
    font-weight: 400;
    font-size: 26px;
    letter-spacing: -0.4px;
    color: #ffffff;
  }
}

.content8 {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content8 .squares {
  display: flex;
  flex-direction: row;
}
.text3 {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  flex-direction: column;
}
.content8 .text3 h2 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 3.5em;
  letter-spacing: -2.5px;
  line-height: 1.333;
  color: #000;
  top: 200px;
}
.btn {
  margin-top: 5%;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background: black;
  border-style: none;
  border-radius: 8px;
  padding: 22px 38.2px 21px;
}
.sq1 {
  border-radius: 20px;
  background: #deeafb;
  margin-bottom: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 360px;
  height: 70%;
  position: relative;
  bottom: 30%;
  left: 2%;
}
.sq2 {
  box-shadow: -4px 4px 12px 0px rgba(24, 77, 161, 0.25);
  border-radius: 20px;
  background: #c5ddff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 250px;
  position: relative;
  top: 10%;
  right: 2%;
}
.billion {
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 42px;
  letter-spacing: -1.3px;
  color: #000000;
}
.gdp {
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}

.number {
  margin: 0 122.1px 18px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 42px;
  letter-spacing: -1.3px;
  color: #000000;
}
.india {
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 400;
  font-size: 22px;
  color: #000000;
}
.content9 {
  box-shadow: 0px 4px 12px 0px rgba(180, 195, 217, 0.5);
  border-radius: 20px;
  background: #0448aa;
  background-image: url("/images/bbox.png");
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 547px;
}

.content9 .bbox {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 18px 36px 34px;
}
.worried {
  margin-bottom: 13px;
  /* display: inline-block; */
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 56px;
  letter-spacing: -2.5px;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.borderbox {
  background: white;
  position: relative;
  left: 10px;
  width: 250px;
  height: 47px;
  margin-top: 5px;
}
.weve {
  position: relative;
  margin: 0 6px 33px 6px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 32px;
  letter-spacing: -1.4px;
  color: #000000;
}
.container11 {
  margin-bottom: 17px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.rectangle11 {
  background: #b41416;
  margin: 6px 10px 10px 0;
  width: 2px;
  height: 44px;
}
.job {
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -0.4px;
  color: #ffffff;
}
.container12 {
  margin-bottom: 19px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.rectangle12 {
  background: #b41416;
  margin: 0 10px 11px 0;
  width: 2px;
  height: 44px;
}
.with {
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -0.4px;
  color: #ffffff;
}
.container13 {
  margin: 0 20.7px 28px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.rectangle13 {
  background: #b41416;
  margin: 0 10px 11px 0;
  width: 2px;
  height: 44px;
}
.earn {
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: -0.4px;
  color: #ffffff;
}
.journey {
  border-radius: 8px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 11.5px 0;
  width: 337px;
  box-sizing: border-box;
}
.content9 .men {
  display: flex;

  width: 40%;
  height: 100%;
  align-items: center;
  img {
    height: 90%;
  }
}
.content10 {
  box-shadow: 0px 4px 12px 0px rgba(180, 195, 217, 0.5);
  border-radius: 20px;
  background: #000000;
  background-image: url("/images/bbox.png");
  margin: 0 70px 47px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 44px 46.2px 43px 57.3px;
  width: 90%;
  height: 200px;
  position: relative;
}
.group-47 {
  margin: 0 10.1px 34.5px 0;
  width: 90%;
  justify-content: center;
  display: flex;
}
.rectangle-141 {
  top: 0px;
  right: 0px;
  width: 582px;
  height: 48px;
}
.why {
  text-transform: uppercase;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 25px;
  letter-spacing: -1.9px;
  color: white;
  background-clip: text;
  text-align: center;
  display: inline block;
  -webkit-background-clip: text;
}
.accountants {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 42px;
  letter-spacing: -1.9px;
  line-height: 1.333;
  background: linear-gradient(#0448aa, #0448aa),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.content10 .container-14 {
  margin: 28px 49.1px 7px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  position: absolute;
}
.container-1 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 1.333;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.box80 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 1.333;
}
.k {
  margin-top: 2.5px;
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.k {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 1.333;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.box55 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 1.333;
}
.container-2 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 1.333;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.box220 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 1.333;
}
.container-2 {
  margin: 1.5px 0 1px 0;
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.container-3 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 1.333;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.box300 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 1.333;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.container-3 {
  margin-bottom: 2.5px;
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  background: linear-gradient(#b41416, #b41416),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.container-4 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 1.333;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.box100 {
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  line-height: 1.333;
  background: linear-gradient(#ffffff, #ffffff),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.container-4 {
  margin: 0.5px 0 2px 0;
  overflow-wrap: break-word;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -3px;
  background: linear-gradient(#b41416, #b41416),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.faq {
  margin-bottom: 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 42px;
  letter-spacing: -1.9px;
  background: linear-gradient(#000000, #000000),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.faq1 {
  box-shadow: 0px 4px 12px 0px rgba(180, 195, 217, 0.5);
  border-radius: 20px;
  background: #0448aa;
  margin-bottom: 5px;
  padding: 39px 22px 38px 22px;
  width: 70vw;
}
.ques {
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.faq2 {
  box-shadow: 0px 4px 12px 0px rgba(180, 195, 217, 0.5);
  border-radius: 20px;
  background: #0448aa;
  position: relative;
  margin-bottom: 5px;
  padding: 39px 22px 38px 22px;
  width: 70vw;
}
.faq3 {
  box-shadow: 0px 4px 12px 0px rgba(180, 195, 217, 0.5);
  border-radius: 20px;
  background: #0448aa;
  position: relative;
  margin-bottom: 5px;
  padding: 39px 22px 38px 22px;
  width: 70vw;
}
.faq4 {
  box-shadow: 0px 4px 12px 0px rgba(180, 195, 217, 0.5);
  border-radius: 20px;
  background: #0448aa;
  position: relative;
  margin-bottom: 5px;
  padding: 39px 22px 38px 22px;
  width: 70vw;
}
.line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}
.footer {
  position: relative;
  overflow-wrap: break-word;
  font-family: "Helvetica", "Source Sans 3";
  font-weight: 700;
  font-size: 80px;
  background: linear-gradient(#000000, #000000),
    linear-gradient(#ffffff, #ffffff);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
